# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
my-f-app/.editorconfig
my-f-app/.gitignore
my-f-app/README.md
my-f-app/angular.json
my-f-app/browserslist
my-f-app/e2e/
my-f-app/karma.conf.js
my-f-app/package-lock.json
my-f-app/package.json
my-f-app/src/
my-f-app/tsconfig.app.json
my-f-app/tsconfig.json
my-f-app/tsconfig.spec.json
my-f-app/tslint.json
src/basics-assignment-2-start/.editorconfig
src/basics-assignment-2-start/.gitignore
src/basics-assignment-2-start/README.md
src/basics-assignment-2-start/angular.json
src/basics-assignment-2-start/e2e/
src/basics-assignment-2-start/how-to-use.txt
src/basics-assignment-2-start/package-lock.json
src/basics-assignment-2-start/package.json
src/basics-assignment-2-start/src/
src/basics-assignment-2-start/tsconfig.json
src/basics-assignment-2-start/tslint.json
