<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button
    (click)="collapsed = !collapsed"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
    data-target="#navbarSupportedContent"
    data-toggle="collapse"
    type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div
    (window:resize)="collapsed = true"
    [class.collapse]="collapsed"
    class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isAuthenticated"
          [routerLinkActive]="'active'"
          class="nav-item"
      >
        <a
          [routerLink]="['/recipes']"
          class="nav-link">Recipes</a>
      </li>
      <li
        *ngIf="!isAuthenticated"
        [routerLinkActive]="'active'"
        class="nav-item"
      >
        <a
          [routerLink]="['/auth']"
          class="nav-link" href="#"
        >Authenticate</a>
      </li>
      <li [routerLinkActive]="'active'"
          class="nav-item"
      >
        <a
          [routerLink]="['/shopping-list']"
          class="nav-link" href="#"
        >Shopping List</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-3">
      <li
        *ngIf="isAuthenticated"
        class="nav-item">
        <a
          (click)="onLogout()"
          class="nav-link"
          style="cursor: pointer;"
        >Logout</a>
      </li>
      <li
        *ngIf="isAuthenticated"
        appDropdown
        class="nav-item dropdown">
        <a aria-expanded="false"
           aria-haspopup="true"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           id="manage-data"
           role="button" style="cursor: pointer;">
          Manage
        </a>
        <div aria-labelledby="manage-data" class="dropdown-menu dropdown-menu-lg-right">
          <a
            (click)="onSaveData()"
            class="dropdown-item"
            style="cursor: pointer;">Save Data</a>
          <a
            (click)="onFetchData()"
            class="dropdown-item"
            style="cursor: pointer;">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
