<div class="row">
  <div class="col-12">
    <figure>
      <img
        [alt]="recipe.name"
        [src]="recipe.imagePath"
        class="img-fluid"
        style="max-height: 320px;"
      >
    </figure>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!-- Example single danger button -->
    <div
      appDropdown
      class="btn-group"
    >
      <button
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >Manage Recipe
      </button>
      <div
        class="dropdown-menu">
        <a
          (click)="onAddToShoppingList()"
           class="dropdown-item"
        >To Shopping List</a>
        <a
          (click)="onEditRecipe()"
          class="dropdown-item"
        >Edit Recipe</a><!--[routerLink]="['edit']"-->
        <div class="dropdown-divider"></div>
        <a
          (click)="onDeleteRecipe()"
          class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Description</h3>
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <li
        *ngFor="let ingredient of recipe.ingredients"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{ingredient.name}}
        <h5 class="m-0 pl-3">
          <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>
        </h5>
      </li>
    </ul>
  </div>
</div>
