<div class="row">
  <div class="col-12">
    <figure>
      <img
        [alt]="recipe.name"
        class="img-fluid"
        [src]="recipe.imagePath">
    </figure>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!-- Example single danger button -->
    <div class="btn-group"
      [ngClass]="{'show': manageRecipe}"
    >
      <button
        (click)="manageRecipe = !manageRecipe"
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >Manage Recipe
      </button>
      <div
        [ngClass]="{'show': manageRecipe}"
        class="dropdown-menu">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Description</h3>
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Ingredients</h3>
  </div>
</div>
